.header {
  height: 80px;
  background-color: var(--gray-dark);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
}

@media screen and (max-width: 911px) {
  .header {
    justify-content: center;
  }
}
