.skill {
  width: 300px;
  background: cadetblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.icon {
  width: 60px;
}

.title {

}

.description {
  text-align: center;
}
