.skills {
  /*min-height: 100vh;*/
  padding: 100px 0;
  background-color: #252527;
}

.skillsContainer {
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.skillsWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 805px) {
  .skillsWrapper {
    justify-content: center;
  }
}
