.skills {

  padding: 100px 0 50px;
  background-color: var(--gray-dark);
}

.skillsContainer {
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.skillsWrapper {
  width: 70%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

@media screen and (max-width: 805px) {
  .skillsWrapper {
    justify-content: center;
  }
}
