.aboutWrapper {
  height: 67vh;
  width: 100%;
  background-color: rgba(11, 18, 33, 0.69);
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  height: 100%;
  width: 70%;
  position: relative;
}

.titleWrapper {
  /*margin-top: 100px;*/
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fec544;
  position: relative;
  z-index: 10;
  letter-spacing: 1px;
}

.subtitle {
  text-transform: uppercase;
  position: absolute;
  top: -12px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 90px;
  font-weight: 700;
  color: rgba(21, 27, 41, 0.5);
  margin: -17px 0 0 0;
  width: 100%;
  text-align: center;
}

.yellowLine {
  width: 80px;
  z-index: 1;
  height: 4px;
  background-color: #fec544;
  border: none;
  border-radius: 5px;
}

.underYellowLine {
  position: absolute;
  top: 39px;
  width: 170px;
  background-color: #3f4551;
  border: none;
  height: 2px;
  border-radius: 5px;
}

.infoWrapper {
  margin: 50px auto;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /*border: 1px solid white;*/
}

.photoWrapper {
  height: 500px;
  width: 400px;
  border: 1px solid white;
}

.information {
  display: flex;
  flex-direction: column;
  width: 600px;
  /*border: 1px solid white;*/
}

.infoTitle {
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 18px;
  clear: both;
  color: #fdfeff;
  padding: 0;
  line-height: 1.2em;
}

.infoSubtitle {
  font-size: 24px;
  font-weight: 300;
  color: #fec544;
  margin-bottom: 18px;
}

.text {
  max-width: 500px;
}

.contacts {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}

.contacts span {
  margin: 3px 0;
}

.contactBtn {
  height: 70px;
  width: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactBtnStyle {
  display: -webkit-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5em;
  font-weight: 500;
  padding: 12px 1.5em;
  border-radius: 50px;
  min-width: 170px;
  border: none;
  outline: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  text-transform: capitalize;
  background-color: #fec544;
  color: #070d1b;
  text-decoration: none;
  cursor: pointer;
}

.contactBtnStyle:hover {
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  -webkit-box-shadow: 0 5px 10px 0 #fec64450;
  box-shadow: 0 5px 10px 0 #fec64450;
}