.nav {
  display: flex;
  min-width: 40%;
  justify-content: space-between;
}

.navLink {
  color: var(--text);
  letter-spacing: 1px;
  border-radius: 2px;
  position: relative;
  cursor: pointer;
  text-decoration: none;
}

.navLink:hover::after {
  content: '';
  width: 100%;
  height: 3px;
  background-color: var(--primary);
  position: absolute;
  left: 3px;
  bottom: -5px;
}

@media screen and (max-width: 911px) {
  .navLink {
    margin: 0 5px;
  }
}
