.nav {
  display: flex;
  min-width: 40%;
  justify-content: space-between;
}

.navLink {
  color: var(--text);
  letter-spacing: 1px;
  border-radius: 2px;
  position: relative;
  text-decoration: none;
}

@media screen and (max-width: 911px) {
  .navLink {
    margin: 0 5px;
  }
}
