.container {
  border: 1px solid black;
  width: 75%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 1169px) {
  .container {
    justify-content: center;
  }
}
