.headerWrapper {
  background-color: rgb(6, 11, 23);
  -webkit-box-shadow: 0 10px 10px -10px rgb(7 13 27 / 10%);
  box-shadow: 0 10px 10px -10px rgb(7 13 27 / 10%);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  position: fixed;
  z-index: 200;
  width: 100%;
  /*border: 1px solid white;*/
}

.mainHeader {
  display: flex;
  justify-content: center;
  position: relative;
  /*border: 1px solid white;*/
}

.container {
  width: 70%;
  /*border: 1px solid white;*/
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: flex-end;
  height: 80px;
  padding: 0 15px;
}

.linksWrapper {
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /*border: 1px solid white;*/
}

.linksWrapper a {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
  background-color: transparent;
  cursor: pointer;
}

.active {
  color: #fec544;
}

.link {
  color: inherit;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.contactsWrapper {
  display: flex;
  align-items: center;
  width: 160px;
  justify-content: space-between;
  /*border: 1px solid white;*/
}

.phoneNumber a {
  color: #fec544;
  display: flex;
  align-items: center;
}

.phoneIconWrapper {
  height: 15px;
  width: 15px;
  display: flex;
  align-items: center;
}

.phoneIcon {
  background-color: transparent;
  height: 15px;
  width: 15px;
  filter: brightness(0) saturate(100%) invert(77%) sepia(10%) saturate(246%) hue-rotate(186deg) brightness(91%) contrast(85%);
}