.main {
  position: relative;
  padding: 120px 0;
  /*min-height: 100vh;*/
  background-color: var(--gray-extradark);
}

.myInfo {
  min-width: 300px;
}

.greeting {
  font-size: 16px;
  font-family: var(--poppins);
  font-weight: 400;
  font-stretch: normal;
  line-height: 1.8;
  color: var(--text);
}

.text {
  font-size: 50px;
  padding: 10px 0 10px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 5px;
  margin: 0;
  color: var(--text);
}

.myName {
  font-size: 50px;
  display: inline-block;
  position: relative;
  z-index: 1;
  font-weight: 700;
}

.myName::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 20px;
  width: 100%;
  z-index: -1;
  background: var(--primary);
}

.role {
  font-size: 27px;
  margin: 0;
  font-weight: 400;
  line-height: 1.8;
  font-family: var(--poppins);
  color: var(--text);
}

.photoWrapper {
  position: relative;
  z-index: 1;
}

.photo {
  height: 400px;
  width: 300px;
  background-size: cover;
  background-position: 62% 0;
}

.photoWrapper::before {
  content: '';
  position: absolute;
  height: 106%;
  width: 102%;
  border: 5px solid var(--primary);
  left: 14px;
  top: -12px;
  z-index: -1;
}

@media screen and (max-width: 1080px) {
  .main {
    padding: 50px 0;
  }
  .photoWrapper {
    margin-top: 50px;
  }
}

@media screen and (min-width: 1320px) {
  .main {
  padding: 200px 0;
  }

  .photo {
    height: 560px;
    width: 450px;
  }
}

