.portfolioItem {
  width: 450px;
  background-color: var(--gray-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.imgWrapper::before {
  position: absolute;
  content: '';
  background-color: var(--black-transparent);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.projectInfo {
  padding: 25px 20px;
}

.projectName {
  font-size: 16px;
  letter-spacing: 1px;
  margin: 0 0 5px;
  line-height: 1.2;
  color: var(--text);
}

.description {
  font-family: var(--poppins);
  font-weight: 400;
  font-stretch: normal;
  font-size: 12px;
  line-height: 1.8;
  color: var(--text);
}

@media screen and (max-width: 1199px) {
  .portfolioItem {
    width: 350px;
    margin: 10px;
  }
}

@media screen and (max-width: 986px) {
  .portfolioItem {
    width: 450px;
    margin-bottom: 20px;
  }
}
