.portfolioItem {
  width: 450px;
  background-color: #252527;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.imgWrapper::before {
  position: absolute;
  content: '';
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.link {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  color: white;
  letter-spacing: 1px;
  border-radius: 2px;
  position: relative;
}

.projectInfo {
  padding: 25px 20px;
}

.projectName {
  font-size: 16px;
  letter-spacing: 1px;
  margin: 0 0 5px;
  line-height: 1.2;
  color: #fff;
}

.description {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-stretch: normal;
  font-size: 12px;
  line-height: 1.8;
  color: #fff;
}
