.portfolio {
  height: 100vh;
  background-color: brown;
}

.portfolioContainer {
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.title {
  background: #fec544;
}

.portfolioWrapper {
  border: 1px solid black;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
