.contacts {
  padding: 100px 0;
  background-color: var(--gray-extradark);
}

.contactsContainer {
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.contactsForm {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.4s ease-in-out 0s;
}

.input {
  background-color: var(--gray-dark);
  width: 550px;
  border: 1px solid var(--gray-light);
  outline: none;
  font-size: 12px;
  font-family: var(--poppins);
  padding: 0 15px;
  border-radius: 0;
  font-weight: 400;
  line-height: 1.5;
  height: calc(1.5em + 0.75rem + 2px);
  color: var(--gray-light);
  transition: all 0.4s ease-in-out 0s;
  margin-bottom: 15px;
}

.textarea {
  padding: 15px;
  resize: vertical;
  color: var(--gray-light);
  transition: all 0.4s ease-in-out 0s;
  outline: none;
  font-size: 12px;
  font-family: var(--poppins);
  border-radius: 0;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--gray-dark);
  width: 550px;

  margin-bottom: 5px;
  border: 1px solid var(--gray-light);
}

.input:focus,
.textarea:focus {
  border: 1px solid var(--gray-dark);
}

.btn {
  margin-top: 10px;
  background: transparent;
  border: none;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-family: var(--poppins);
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 8px 20px;
  max-width: 160px;
  width: 100%;
  color: var(--text);
  outline: none;
  position: relative;
  z-index: 0;
  text-decoration: none;
  cursor: pointer;
}

.btn::after {
  content: '';
  position: absolute;
  width: 50%;
  height: 10px;
  background: var(--primary);
  bottom: 0;
  z-index: -1;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  text-decoration: none;
  color: var(--text);
}

.btn:hover::after {
  width: 100%;
  height: 106%;
  transition: all 0.3s ease-in-out 0s;
}


@media screen and (max-width: 640px) {
  .input,
  .textarea {
    width: 320px;
  }
}
