.contacts {
  padding: 100px 0;
  background-color: var(--gray-extradark);
}

.contactsContainer {
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.contactsForm {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.4s ease-in-out 0s;
}

.input {
  background-color: var(--gray-dark);
  width: 100%;
  border: 1px solid var(--gray-light);
  outline: none;
  font-size: 12px;
  font-family: var(--poppins);
  padding: 0 15px;
  border-radius: 0;
  font-weight: 400;
  line-height: 1.5;
  height: calc(1.5em + 0.75rem + 2px);
  color: var(--gray-light);
  transition: all 0.4s ease-in-out 0s;
  margin-bottom: 15px;
}

.textarea {
  padding: 15px;
  resize: vertical;
  color: var(--gray-light);
  transition: all 0.4s ease-in-out 0s;
  outline: none;
  font-size: 12px;
  font-family: var(--poppins);
  border-radius: 0;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--gray-dark);
  width: 100%;
  margin-bottom: 5px;
  border: 1px solid var(--gray-light);
}

.input:focus,
.textarea:focus {
  border: 1px solid var(--gray-dark);
}

.button {
  max-width: 170px;
  border: none;
  margin: 15px 0;
  background-color: transparent;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  font-family: var(--poppins);
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 7px 20px;
  cursor: pointer;
  color: var(--text);
  position: relative;
  z-index: 1;
  transition: all 0.4s ease-in-out 0s;
}

.button::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 10px;
  width: 50%;
  background: var(--primary);
  z-index: -1;
  margin: 0 auto;
}

.button:hover {
  background-color: var(--primary);
}

@media screen and (max-width: 670px) {
  .contactsForm {
    width: 100%;
  }
}
