.portfolio {
  padding: 100px 0;
  background-color: var(--gray-extradark);
}

.portfolioContainer {
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.portfolioWrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
}

@media screen and (max-width: 1080px) {
  .portfolio {
    padding: 50px 0 30px;
  }
}


@media screen and (max-width: 1205px) {
  .portfolioWrapper {
    justify-content: center;
  }
}
