.portfolio {
  padding: 100px 0;
  background-color: #1f1f20;
}

.portfolioContainer {
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.portfolioWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}

@media screen and (max-width: 1205px) {
  .portfolioWrapper {
    justify-content: center;
  }
}
