.about {
  padding: 100px 0 70px;
  background-color: var(--gray-dark);
}

.aboutContainer {
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}

.photo {
  background-size: cover;
  background-position: center;
  height: 450px;
  width: 350px;
}

.bio {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  width: 600px;
  min-height: 550px;
}

.title {
  color: var(--text);
  letter-spacing: 1px;
  font-size: 27px;
  font-weight: 500;
  margin-bottom: 30px;
  line-height: 1.8;
}

.subTitle {
  text-transform: uppercase;
  margin: 0 0 25px;
  font-weight: 500;
  padding: 0;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 2px;
  color: var(--text);
}

.description {
  color: var(--text);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.8;
  font-family: var(--poppins);
  margin: 0 0 30px;
  position: relative;
}

.infoDesc {
  margin: 0;
  color: var(--text);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  font-family: var(--poppins);
}

.aboutMe {
  margin: 0 0 0 20px;
  color: var(--text);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  text-decoration: none;
  font-family: var(--poppins);
}

.infoDescLink {
  margin-left: 20px;
  color: var(--text);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  text-decoration: none;
  font-family: var(--poppins);
  text-align: center;
}

@media screen and (max-width: 498px) {
  .description::after {
    display: none;
  }
  .about {
    padding: 50px 0 10px;
  }
  .bio {
    min-height: 300px;
  }
  .infoDesc {
    color: var(--primary);
    text-align: start;
  }
  .photo {
    height: 400px;
    width: 300px;
  }

}

@media screen and (max-width: 1080px) {
  .about {
    padding: 50px 0 50px;
  }
  .bio {
    padding: 0 20px;
  }
  .photo {
    position: relative;
    top: 0;
    right: 0;
    z-index: 0;
    margin-bottom: 20px;
  }

  .photo::before {
    content: '';
    position: absolute;
    height: 106%;
    width: 102%;
    border: 5px solid var(--primary);
    left: 14px;
    top: -12px;
    z-index: 0;
  }
}

@media screen and (max-width: 1199px) and (min-width: 1081px) {
  .photo {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .photo {
    margin-top: 100px;
    height: 600px;
    width: 500px;
  }
}
