.about {
  padding: 100px 0 70px;
  background-color: var(--gray-dark);
}

.aboutContainer {
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}

.photo {
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 400px;
}

.bio {
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  width: 500px;
  min-height: 550px;
}

.title {
  color: var(--text);
  letter-spacing: 1px;
  font-size: 27px;
  font-weight: 500;
  margin-bottom: 30px;
  line-height: 1.8;
}

.subTitle {
  text-transform: uppercase;
  margin: 0 0 25px;
  font-weight: 500;
  padding: 0;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 2px;
  color: var(--text);
}

.description {
  color: var(--text);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  font-family: var(--poppins);
  margin: 0 0 30px;
}

.bio p {
  margin: 0;
  color: var(--text);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  font-family: var(--poppins);
}

.aboutMe {
  margin: 0 0 0 20px;
  color: var(--text);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  text-decoration: none;
  font-family: var(--poppins);
}

.bio a {
  margin-left: 20px;
  color: var(--text);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  text-decoration: none;
  font-family: var(--poppins);
}

@media screen and (max-width: 1080px) {
  .about {
    padding: 50px 0 50px;
  }
  .bio {
    padding: 0 20px;
  }
}

@media screen and (max-width: 1138px) {
  .photo {
    display: none;
  }
}
