.footer {
  min-height: 200px;
  background-color: saddlebrown;
}

.footerContainer {
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.title {
  background-color: #fec544;
}

.socialWrapper {
  display: flex;
  width: 40%;
  background: yellowgreen;
  justify-content: space-between;
}

.socialLink {
  height: 50px;
  width: 50px;
  background-color: indianred;
  display: flex;
  align-items: center;
  justify-content: center;
}
 .footerRights {
   margin-top: 50px;
   background: blueviolet;
 }
