.main {
  height: 100vh;
  background-color: #fec544;
}

.myInfo {
  width: 300px;
  background: cadetblue;
}

.greeting {

}

.name {
  margin: 0;
}

.position {

}

.photo {
  width: 300px;
  height: 400px;
  background: cadetblue;
}
