.app {
  position: relative;
}

.goTopBtn {
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  display: flex;
  position: fixed;
  justify-content: center;
  text-decoration: none;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
}

.goTopBtn:hover {
  background-color: rgba(235, 235, 235, .8);
}

.icon {
  height: 15px;
  width: 15px;
}
