.portfolioItem {
  width: 350px;
  background: cadetblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wallpaper {

}

.projectName {

}

.description {
  text-align: center;
}
