.portfolioItem {
  width: 300px;
  background: cadetblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.imgWrapper {
  display: flex;
  width: 100%;
  height: 200px;
  background-image: url("https://cdn.pixabay.com/photo/2016/08/27/12/06/website-1624028_1280.png");
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center;
}

.link {
  text-decoration: none;
  height: 30px;
  width: 100px;
  background-color: indianred;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 5px;
}

.projectName {

}

.description {
  text-align: center;
}
